@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.data{
    font-family: "Montserrat",sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 40vh;
    background-color: #f2f2f3;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-style: normal;
}
.data > h3{
    font-size: 200%; 
}
.data > p{
    
}